<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <a name="contato"></a>

    <br /><br /><br /><br />
    
    <h2 class="footer-heading">Contato e Redes Sociais</h2>

    <div class="footer-col-wrapper">
      
      <div class="footer-col footer-col-3">
        {%- include social.html -%}
        Email: 
        <a href="mailto:eryx.guimaraes@gmail.com"><span class="username">eryx.guimaraes@gmail.com</span></a>
        <br />
        Celular (TIM): 48 998334751
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

    <br /><br /><br /><br />
    <br /><br /><br /><br />
  </div>

</footer>
