---
layout: default
---
<div class="row">
    <div class="col-md-9">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h3>
                        {{ page.title }}
                    </h3>
                    <p>
                        {{ page.author }} em {{ page.date | date_to_string }}
                    </span>
                </div>
                <div class="card-body">
                    {{ content }}
                </div>
            </div>
            <hr />
            <div class="sharethis-inline-share-buttons"></div>
        </div>
    </div>
    <div class="col-md-3">

    </div>
</div>

<script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5d680b935fea9f001288d8d5&product=inline-share-buttons" async="async"></script>